footer{
    background-color: #1b1b1b;
    color: #fbc45e;
}
.footer_div1{
    margin: 0;
    padding: 0;
    height: 20rem;
    /* color: white; */
    display: flex;
    justify-content: space-evenly;
}
.footer_div2{
    /* color: white; */
    padding: 1rem;
    text-align: center;
}
ul{
    list-style: none;
}
.footer_r1 img{
    height: 10rem;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
/* .footer_r2  , .footer_r3, .footer_r4{
    height: 100%;
} */
.footer_r2 ul , .footer_r3 ul{
    /* height: 100%; */
    margin: 2.5rem 0;
}
.footer_r2 ul li{
    margin: 1rem ;
}
.footer_r3 ul li{
    margin: 2rem;
}
.footer_r4{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-self: flex-start;
    /* justify-content: space-between; */
}
.footer_r4 p{
    text-align: start;
}


.footer_r2 li >a{
    height: 2.5rem ;
}
.footer_r2 a > img{
    height: 2.5rem;
}
@media (max-width:850px) {
    .footer_r1 img{
    height: 10rem;
    margin: 0;
    padding: 0;
    }
    .footer_r2 ul li , .footer_r3 ul li{
    margin: 1rem ;
    }
    .footer_r4{
        margin-left: 1rem;
    }
    
}
li Link{
    text-decoration: none;
    color: orange;
}