*{
    box-sizing: border-box;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url("../src/assets/front.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* padding-top: 4rem; */
    /* background-color: yellow; */
    /* opacity: 0.2; */
}
.home-overlay{
    width: 100%;
    height: 100vh;
    padding-top: 4rem;
    /* background-color: rgba(4, 68, 132, 0.468) ; */
    
    /* background-size: cover; */
    /*rgba(4, 68, 132, 0.468) */
}
.homeContent{
    height: 100%;
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.homeContent h1{
    color: #fbc45e;
    font-size: 4.2rem;
    margin-bottom: 2rem;
    width: 90%;
    text-align: left ;
    padding-left: 1em;
    word-wrap: break-word;
    /* position: relative; */
}


.arrow{

    /* TODO -> arrow causing extra space on the right side on click ---> SOLVED*/
    height: 4rem;
    width: auto;
    /* transform: rotate(180deg); */
    /* display: block; */
    position: absolute;
    bottom: 10px;
    right: 20px;
    animation: upDown 2s alternate infinite ease-in-out ;
}
@keyframes upDown{
    from{
        transform: translateY(-10px) rotate(180deg);
    }
    to{
        transform: translateY(10px) rotate(180deg);
    }
}
/* ,.vision,.team{
    opacity: 0;
    transform: translateY(50px);
    animation: slide 1s ease-out forwards;
    animation-timeline: scroll();
    animation-range: entry 0% cover 30%;
}
@keyframes slide {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
} */

.vision,.events-activities{
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-up-text{
    opacity: 0;
    transform: translateY(50px);
    animation:slideUp 1s ease-out forwards;
    animation-delay: 1s;
}
h1,h2,h4,p{
    text-align: center;
}
.explore{
    color: white;
    font-size: 1.5rem;
    border: 5px solid white;
    padding: 1.5rem;
    /* margin-bottom:0 ; */
}
.explore:hover{
    border-color: orange;
    color: orange;
    /* scale: 1.1; */
}

@keyframes slideUp{
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.intro{
  height: auto;
  width: 100vw;
  text-align: center;
  /* padding-top: 5rem; */
  scroll-margin-top: 10rem;
  margin-bottom: auto;
  /* margin-bottom:15rem;   */
  /* opacity: 0.5; */
  /* z-index: -1; */
  
}
.animate-elt{
    margin-top: 2rem;
    animation : animateOnScroll both ease-out;
    animation-timeline: view();
  animation-range: entry 20% cover 50%;
  animation-delay: 5s;
  /* will-change: transform, opacity; */
  /* background-color: #1a1a1a; */
}
.events-activities{
    height: 100vh;
    width: 100%;
    /* border: 2px solid white; */
}
@keyframes animateOnScroll{
    from{
        opacity: 0;
        /* scale: 0.5; */
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY((0));
        /* scale: 1; */
    }
}

.intro > h1 ,.vision h1 ,.events-activities h1 ,.team h1{
  /* font-size: 3rem; */
  padding: 2rem 0;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.events-activities h1{
    margin-top: 4rem;
    margin-bottom:2rem ;
    padding: 0;
}

.intro h2{
    font-size: 1.5rem;
    margin: 2rem ;
}
.intro > p , .vision p{
    /* text-align: justify; */
  font-size:1.5rem;
  margin: 0 3rem;
  text-align: justify;
  text-justify: inter-word; /* ensures spacing only happens between words */
  hyphens: auto;            /* allows breaking long words if needed */
  line-height: 1.6;         /* improves readability */
  word-spacing: normal; 
}
.intro ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro ul li{
    font-size: 1.5rem;
    text-align:start;
    margin: 1rem ;
}
.intro .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem;
    width: auto;
    /* border: 2px solid ; */
}

/* .intro , .vision , .events-activites ,.team{
    margin: 20px 20px;
} */


/* Event and activities */
.container{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 4rem;
    padding-bottom: 4rem; /* 👈 ensures content doesn’t stick */
    /* min-height: 40vh; */
    /* border: 1px solid white; */
}



@media (max-width:800px){
    .homeContent h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .explore{
        /* color: white; */
        font-size: 1rem;
        border: 5px solid white;
        padding: 1.5rem;
    }
    li{
        width: 100%;
    }
    
}

/* .container:nth-child(3){
    margin-bottom: 50px;
    top: 50rem;
} */

.team{
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 20rem;
}
.two-row{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.three-row{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.member{
    height: 16rem;
    width: 13rem;
    background-color:black;
    /* clip-path:inset( 0 0 0 0 round 30px 0px ); */
}
/* .member:hover{
    box-shadow: 0 2px 5px white , 0 -2px 5px white ;
} */
.member > img{
    height: 13rem;
    width: auto;
}
.member>*{
    color: white;
}


/* footer */

@media (max-width:600px) {
    .homeContent h1{
        font-size: 2rem !important;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: max-content;
        width: auto;
        gap: 5rem;
        overflow-y: visible;
        /* margin-bottom: auto; */
         margin-bottom: 6rem;
    }
    .container:last-child{
        margin-bottom:150px ;
    }
    .team {
    margin-top: 3rem;
    margin-bottom: 15rem;
  }
    /* .content{
        position: static;
        flex-direction: column;
        margin-bottom: 30rem;
    }
     */



    /* .footer_r1 img{
    height: 10rem;
    margin: 0;
    padding: 0;
    }
    .footer_r2 ul li , .footer_r3 ul li{
    margin: 1rem ;
    }
    .footer_r4{
        margin-left: 1rem;
    } */
}
@media (max-width:400px) {
    .container{
        min-height: auto;
        margin-bottom: 2rem;
    }
    .homeContent h1{
        font-size: 2rem !important ;
    }
}
@media (max-width:900px) {
    .team{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .two-row,.three-row{
        flex-direction: column;
    }
    /* .intro{
        padding-bottom: 15rem;
    } */
    .list ul{
        padding-left: 2rem;
    }
}


@media (max-width:500px) {
    .intro ul{
        padding-left: 2rem;
    }
    .container{
        height: max-content;
    }
}


@media (max-width:950px) {
    .two-row,.three-row{
        gap: 2.5rem;
    }
}


@media (max-width: 800px) {   
  .home {
    background-attachment: scroll;
    background-position: 70% center;
  }
}
