.right-tab {
  position: fixed;
  top: 10%;
  right: 0;
  height: auto ;
  width: 70%;
  background-color: #1b1b1b;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1000;
  border: 2px solid orange;
}

.right-tab.open {
  transform: translateX(0);
}

.tab-content {
  padding: 1rem;
}

.toggle-button {
    /* margin: 0; */
  position: fixed;
  top: 42%;
  right: 0;
  /* transform: translateX(-100%); */
  background-color: orange;
  color: black;
  border: none;
  height: 50px;
  width: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1001;
}



/* react big calendar */
.rbc-calendar {
  background-color: #1e1e1e;
  color: orange;
}
.rbc-timeslot-group {
  border-color: #444;
}

.rbc-month-view {
  background-color: #0c0c0c;
  color: orange;
}
.rbc-event{
  color: orange;
  background-color: orange;
}

.rbc-toolbar button {
  width: max-content;
  background-color: #0c0c0c !important;
  color: orange !important;
}
.rbc-toolbar button:hover{
  background-color: orange !important;
  color: #0c0c0c !important;
}
.rbc-today {
  background-color: #636363 !important;
  color: orange !important;
}

.rbc-active{
  border: 3px solid orange !important;
}
@media (max-width:800px){
  .rbc-time-view{
    width: 20rem !important;
  }
}

.rbc-date-cell button{
  max-width: 100%;
  text-align: center;
}