.all-events{
    margin: auto;
    /* height: 100vh; */
    width: 80%;
    
    color: orange; 
     padding-bottom: 10rem;  
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 1rem;
     /* overflow: auto; */
     /* justify-content: center; */
    /* box-sizing: border-box; */
    /* margin-top: 15rem; */
    /* padding: 2rem; */
}
/* .all-events > *{
    max-width: 80rem !important;
} */

.all-events > :nth-child(odd){
    border: 2px solid white;
    width: 100%;
    height: 250px;
    padding: 0rem 2rem;
    color: white;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    margin-bottom: 10rem;
}
.all-events > :nth-child(even){
    padding: 0rem 2rem;
    border: 2px solid orange;
    width: 100%;
    height: 250px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    flex-direction: row-reverse;
}
.desc{
    padding-bottom: 1rem;
    text-align: center;
  text-justify: inter-word; /* ensures spacing only happens between words */
  hyphens: auto;            /* allows breaking long words if needed */
  line-height: 1.6;         /* improves readability */
  word-spacing: normal; 
  margin-left: 2rem;
  margin-right: 2rem;
}
/* img,p{
    display: inline;
}
p{
    vertical-align: text-top;
    margin: 0;
} */
.card,.eventImg{
    /* border: 2px solid green; */
    /* position: sticky;
    top: 0; */
    height: 20em;
    /* margin: 50px auto; */
    width: 20em;
    background-color: white;
    background-size: cover;
    /* margin: 150px 20px; */
    border-radius: 5rem ;
    /* box-shadow: 0 -5px 10px black , 0 5px 10px white; */
    color: black;
    
}
.event1{
    margin-top: 10rem;
}


.event-content{
    width: 70rem;
}

@media (max-width:920px) {
    .card,.eventImg{
        width: 20rem;
        height: 20rem;
    }
    .all-events > :nth-child(even) , .all-events > :nth-child(odd){
        height: 400px;
        /* width: 100%; */
    }
}
@media (max-width:700px){
    .all-events > :nth-child(even) , .all-events > :nth-child(odd){
        display: flex;
        flex-direction:column ;
        width: 25rem;
    }
    .card,.eventImg{
        height: 10rem;
        width: 10rem;
        margin: 0;
    }
    .desc{
        font-size: medium;
    }
    .event-content{
        width: auto;
    }
}
@media (max-width:400px) {
    .all-events > :nth-child(even) , .all-events > :nth-child(odd){
        display: flex;
        flex-direction:column ;
        width: 15rem;
        height: auto ;
    }
}