form{
    display: flex;
    flex-direction: column;
    margin: 5rem 25%;
}
input ,textarea{
    margin: 20px 0;
    border-radius: 7px;
    padding: 10px;
    /* border: 2px solid #fbc45e; */
}
input{
    height: 40px;
}
button{
    width: 15rem;
    height: 40px;
    border-radius: 7px;
}
.btn{
    text-align: center;
}